<div class="row no-gutters">
  <div class="col-xl-3">
    <%= render partial: "groups/side_user_bar"%>
  </div>
  <div class="col-xl-6">
  カレンダー
  </div>
  <div class="col-xl-3">
  タスク登録
  </div>
</div>

