<div class="row no-gutters">
  <div class="col-xl-2">
    <%= render partial: "groups/side_user_bar"%>
  </div>
  <div class="col-xl-7">
    <h2>カレンダー</h2>
    <%= react_component("Calendar") %>
  </div>
  <div class="col-xl-3">
  タスク登録
  </div>
</div>

