div.calendar{
  background: white;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  width: 701px;
  height: 624px;
  margin: auto;
  div.cal-week{
    div.cal-youbi{
      width: 100px;
      height: 24px;
      border-right: 1px solid #cccccc; 
      border-top: 1px solid #cccccc;
      border-bottom:  1px solid #cccccc;
      float: left;
      text-align: center;
      &.sun{
        color: red;
      }
      &.sat{
        color: blue;
      }
    }
  }
  // div.cal-main{
  //   background-color: bisque;
    div.cal-cell {
      width: 100px;
      height: 100px;
      border-right: 1px solid #cccccc;
      border-bottom:  1px solid #cccccc;
      float: left;

      &.disabled{
        color: black;
        background-color: #b3abab;
      }
    }
  // }  
}