div.calendar-bar{
  display: table-cell;
  width: 800px;
  margin: 10px;
  .col-calendar{
    margin: 30px 50px 20px;
    padding: 0 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .year-month{
    text-align: center;
    width: 100%;
    .calendar-title{
      font-size: 2rem;
      vertical-align: middle;
      margin: 0 50px;
    }
  }
  .calendar{
    background: white;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    width: 701px;
    height: 624px;
    margin: auto;
    .cal-week{
      .cal-youbi{
        width: 100px;
        height: 24px;
        border-right: 1px solid #cccccc; 
        border-top: 1px solid #cccccc;
        border-bottom:  1px solid #cccccc;
        float: left;
        text-align: center;
        &.sun{
          color: red;
        }
        &.sat{
          color: blue;
        }
      }
    }
    .cal-cell {
      width: 100px;
      height: 100px;
      border-right: 1px solid #cccccc;
      border-bottom:  1px solid #cccccc;
      float: left;
      cursor: pointer;
      &.disabled{
        color: black;
        background-color: #b3abab;
      }
      .task-cell{
        text-align: center;
        background-color: violet;
        color: white;
        border-radius: 10px;
        font-size: 13px;
      }
      .task-cell.comp{
        text-align: center;
        background-color: brown;
        color: white;
        border-radius: 10px;
        font-size: 13px;
      }
    }
  }
}
