.jumbotron.my-4{
  background: linear-gradient(to bottom, #{fade-out(#161616, .7)} 0%,#{fade-out(#161616, .3)} 75%,#161616 100%), url('../images/demo-image-01.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #EEEEEE;
}

.card-body.pad{
  padding: 0.5rem;
}

div.member{
  text-align: left !important;
}

.member-table{
 tr{
  display: flex;
  flex-wrap: wrap;
 }
}