div.my-task{
  background-color: honeydew; 
  div.mytask-title{
    font-size: 40px; 
  }
}

div.other-task{
  background-color: bisque;
}

div.tab{
  ul{
    li{
    display: inline;
    }
  }
}

div.hyogi{
  font-size: 20px;
  background-color: darksalmon;
}